#border{
    list-style-position: inherit;
    background-attachment: 10px fixed;
    font-feature-settings: ;
    font: optional;
}
#font{
    font-style: red;
}
.familio{
    font-weight: lighter;
    outline-style: auto;
    []JavaScript
    /*new note*/
    #newstylesheet
}
.css{
    opacity: inherit;
    font-style: blue;
    font-weight: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.style{
    opacity: ;
    border-image: repeat;
}
.sheet{
    overflow: hidden;
}
#canyoutroubleshoot{
    /*add rojo aqui? y rosa/
}
.id{
    text-align: start;
}